.footer-background {
  background-color: $color-dark;
}
.footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}
.footer-info {
  padding-top: 40px;
  padding-bottom: 40px;
  &__title {
  }
  &__title-h2 {
    color: $color-white;
    font-family: Jost;
    font-size: 30px;
    font-weight: 700;
    line-height: 160%;
  }
  &__copyright {
    color: rgba(255, 255, 255, 0.7);
    font-size: 16px;
    font-weight: 400;
    line-height: 160%;
  }
}
.footer-number {
	display: grid;
	justify-content: flex-end;
  &__number {
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-weight: 600;
    line-height: 160%;
  }
}
