.trainer {
}
.trainer-title {
  padding-bottom: 60px;
  &__h2 {
    color: $color-dark;
    font-size: 50px;
    font-weight: 600;
    line-height: 160%;
  }
}
.trainer-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
}
.trainer-block {
  &__img {
  }
  &__name {
		padding-top: 20px;
  }
  &__name-h2 {
    color: rgb(20, 16, 36);
    font-family: Jost;
    font-size: 24px;
    font-weight: 600;
    line-height: 160%;
    letter-spacing: 0%;
    text-align: left;
  }
  &__description {
  }
  &__description-p {
    color: rgba(20, 16, 36, 0.7);
    font-family: Jost;
    font-size: 18px;
    font-weight: 400;
    line-height: 160%;
    letter-spacing: 0%;
    text-align: left;
  }
  &__details {
  }
  &__details-a {
    color: $color-red;
    font-size: 18px;
    font-weight: 400;
    line-height: 160%;
  }
}
.slider {
}
.flipping {
}
.arrows {
}
