@import 'normalize';
@import 'variables';
@import 'fonts';
@import 'media';
@import 'header';
@import 'introductions';
@import 'formation';
@import 'receiving';
@import 'trainer';
@import 'packages';
@import 'forms-discounts';
@import 'footer';

.header-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}
.main-container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 10px;
}
.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}
