.discouts-backgroud {
  background-color: $color-red;
}
.forms-container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 10px;
}
.forms-discounts {
  padding: 87px 0 87px 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 64px;
}
.record {
  &__title {
    color: $color-white;
    font-size: 36px;
    font-weight: 600;
    line-height: 130%;
    padding-bottom: 20px;
  }
  &__description {
  }
  &__description-p {
    color: $color-white;
    font-size: 20px;
    font-weight: 400;
    line-height: 130%;
  }
}
.form {
}
.form-all {
  display: grid;
  gap: 10px;
  &__text {
    border-radius: 5px;
    padding: 19px 20px;
    color: rgba(40, 41, 68, 0.7);
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
  }
  &__tel {
    border-radius: 5px;
    padding: 19px 20px;
    color: rgba(40, 41, 68, 0.7);
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
  }
  &__email {
    border-radius: 5px;
    padding: 19px 20px;
    color: rgba(40, 41, 68, 0.7);
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 10px;
  }
}
.form-button {
  position: relative;
  display: flex;
  justify-content: center;
  &__button {
    border-radius: 5px;
    background-color: $color-dark;
    color: $color-white;
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    padding: 19px 161px;
  }
}
