.receiving-background {
}
.receiving {
  padding-top: 220px;
  padding-bottom: 220px;
}
.receiving-title {
  &__h2 {
    color: $color-dark;
    font-size: 50px;
    font-weight: 600;
    line-height: 160%;
  }
}
.possibilities {
  padding-top: 60px;
  display: grid;
  gap: 40px;
  grid-template-columns: 1fr 1fr 1fr;
}
.possibilities-block {
  &__title {
  }
  &__title-h2 {
    color: $color-dark;
    font-size: 24px;
    font-weight: 600;
    line-height: 160%;
  }
  &__descriptions {
  }
  &__descriptions-p {
    color: $color-dark;
    font-size: 18px;
    font-weight: 400;
    line-height: 160%;
  }
}
