* {
  padding: 0;
  margin: 0;
  border: 0;
  font-family: "Jost";
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: "Jost";
  scroll-behavior: smooth;
}

input,
button,
textarea {
  font-family: "Jost";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
  font-family: "Jost";
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
  font-family: "Jost";
}

/* jost-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/jost-v15-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* jost-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Jost";
  font-style: normal;
  font-weight: 600;
  src: url("./fonts/jost-v15-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* jost-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Jost";
  font-style: normal;
  font-weight: 700;
  src: url("./fonts/jost-v15-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
@media screen and (max-width: 1340px) {
  .main-container .main .formation .quantity {
    padding-top: 60px;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    text-align: center;
  }
}
@media screen and (max-width: 900px) {
  .header-container .header {
    padding-top: 18px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header-container .header .list {
    display: none;
  }
  .header-container .header .list__ul {
    display: none;
  }
  .header-container .header .list__tel {
    display: block;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    cursor: pointer;
  }
  .header-container .header .number {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 10px;
  }
  .header-container .header .number__link {
    display: none;
  }
  .header-container .header .number__list {
    display: block;
    cursor: pointer;
  }
  .main-container {
    padding: 0 10px;
  }
  .main-container .introductions {
    padding-top: 47px;
    display: grid;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .main-container .introductions .block-title {
    max-width: 498px;
    margin: 0 auto;
  }
  .main-container .introductions .block-title__title > h1 {
    font-size: calc(44px + 2.8vw);
    text-align: center;
  }
  .main-container .introductions .block-title__description {
    padding-top: 10px;
  }
  .main-container .introductions .block-title__description > p {
    text-align: center;
  }
  .main-container .introductions .block-title__button {
    display: grid;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .main-container .introductions .button {
    display: grid;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (max-width: 1340px) {
  .main-container .main .formation .quantity {
    padding-top: 60px;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    text-align: center;
  }
}
@media screen and (max-width: 900px) {
  .header-container .header {
    padding-top: 18px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header-container .header .list {
    display: none;
  }
  .header-container .header .list__ul {
    display: none;
  }
  .header-container .header .list__tel {
    display: block;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    cursor: pointer;
  }
  .header-container .header .number {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 10px;
  }
  .header-container .header .number__link {
    display: none;
  }
  .header-container .header .number__list {
    display: block;
    cursor: pointer;
  }
  .main-container {
    padding: 0 10px;
  }
  .main-container .introductions {
    padding-top: 47px;
    display: grid;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .main-container .introductions .block-title {
    max-width: 498px;
    margin: 0 auto;
  }
  .main-container .introductions .block-title__title > h1 {
    font-size: calc(44px + 2.8vw);
    text-align: center;
  }
  .main-container .introductions .block-title__description {
    padding-top: 10px;
  }
  .main-container .introductions .block-title__description > p {
    text-align: center;
  }
  .main-container .introductions .block-title__button {
    display: grid;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .main-container .introductions .button {
    display: grid;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.header-background {
  background-color: #141024;
}

.header {
  padding-top: 38px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.logo__logo {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: #FFFFFF;
  font-size: 1.875em;
  font-weight: 700;
  line-height: 160%;
}

.list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.list__tel {
  display: none;
}
.list__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
}
.list__a {
  color: #FFFFFF;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 160%;
}

.number__link {
  color: #FFFFFF;
  font-size: 1.875em;
  font-weight: 600;
  line-height: 160%;
}
.number .number__list {
  display: none;
}

.introductions {
  padding-top: 84px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 28px;
}

.block-title__title {
  width: 489px;
  color: #FFFFFF;
  font-size: 70px;
  font-weight: 600;
  line-height: 160%;
}
.block-title__description {
  padding-top: 20px;
  color: #FFFFFF;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 160%;
}
.block-title__button {
  padding-top: 30px;
}
.block-title .button {
  border-radius: 5px;
  background-color: #D52027;
  color: #FFFFFF;
  font-size: 1, 125rem;
  font-weight: 400;
  line-height: 160%;
  padding: 25px 54px;
}

.img-girl {
  max-width: 100%;
}
.img-girl__img {
  width: 100%;
  height: auto;
}

.formation {
  padding-top: 120px;
}

.formation-explanation {
  max-width: 891px;
}
.formation-explanation > p {
  color: #141024;
  font-size: 30px;
  font-weight: 400;
  line-height: 160%;
}

.p-style {
  font-weight: 600;
}

.quantity {
  padding-top: 60px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
}

.quantity-block {
  width: 258px;
}
.quantity-block__figures {
  color: #D52027;
  font-size: 70px;
  font-weight: 600;
  line-height: 160%;
}
.quantity-block__description {
  color: rgba(20, 16, 36, 0.7);
  font-size: 18px;
  font-weight: 400;
  line-height: 160%;
}

.receiving {
  padding-top: 220px;
  padding-bottom: 220px;
}

.receiving-title__h2 {
  color: #141024;
  font-size: 50px;
  font-weight: 600;
  line-height: 160%;
}

.possibilities {
  padding-top: 60px;
  display: grid;
  gap: 40px;
  grid-template-columns: 1fr 1fr 1fr;
}

.possibilities-block__title-h2 {
  color: #141024;
  font-size: 24px;
  font-weight: 600;
  line-height: 160%;
}
.possibilities-block__descriptions-p {
  color: #141024;
  font-size: 18px;
  font-weight: 400;
  line-height: 160%;
}

.trainer-title {
  padding-bottom: 60px;
}
.trainer-title__h2 {
  color: #141024;
  font-size: 50px;
  font-weight: 600;
  line-height: 160%;
}

.trainer-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
}

.trainer-block__name {
  padding-top: 20px;
}
.trainer-block__name-h2 {
  color: rgb(20, 16, 36);
  font-family: Jost;
  font-size: 24px;
  font-weight: 600;
  line-height: 160%;
  letter-spacing: 0%;
  text-align: left;
}
.trainer-block__description-p {
  color: rgba(20, 16, 36, 0.7);
  font-family: Jost;
  font-size: 18px;
  font-weight: 400;
  line-height: 160%;
  letter-spacing: 0%;
  text-align: left;
}
.trainer-block__details-a {
  color: #D52027;
  font-size: 18px;
  font-weight: 400;
  line-height: 160%;
}

.packages {
  padding: 120px 0 120px 0;
}

.package-selection {
  padding-bottom: 60px;
}
.package-selection__h2 {
  color: rgb(20, 16, 36);
  font-size: 50px;
  font-weight: 600;
  line-height: 160%;
}

.packages-blocks {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.package-blockone {
  background-color: #141024;
  border-radius: 20px;
}
.package-blockone__title-h2 {
  color: rgb(255, 255, 255);
  font-size: 30px;
  font-weight: 600;
  line-height: 160%;
  padding-top: 40px;
  padding-bottom: 50px;
}
.package-blockone__price-h2 {
  color: rgb(255, 255, 255);
  font-size: 50px;
  font-weight: 600;
  line-height: 160%;
  padding-bottom: 20px;
}
.package-blockone__description-p {
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 400;
  line-height: 160%;
  padding-bottom: 52px;
}

.block-title__button-one {
  padding-bottom: 40px;
}
.block-title__button {
  padding-bottom: 40px;
}

.button-one {
  background-color: #D52027;
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 400;
  line-height: 160%;
  padding: 25px 54px;
}

.package-block {
  border: 1px solid rgba(20, 16, 36, 0.2);
  border-radius: 20px;
}
.package-block__title-h2 {
  padding-top: 40px;
  color: rgb(20, 16, 36);
  font-size: 30px;
  font-weight: 600;
  line-height: 160%;
}
.package-block__price-h2 {
  padding-top: 63px;
  color: rgb(20, 16, 36);
  font-size: 50px;
  font-weight: 600;
  line-height: 160%;
}
.package-block__description-p {
  padding-top: 20px;
  color: rgb(20, 16, 36);
  font-size: 18px;
  font-weight: 400;
  line-height: 160%;
}

.button {
  background-color: #D52027;
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 400;
  line-height: 160%;
  padding: 25px 54px;
}

.discouts-backgroud {
  background-color: #D52027;
}

.forms-container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 10px;
}

.forms-discounts {
  padding: 87px 0 87px 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 64px;
}

.record__title {
  color: #FFFFFF;
  font-size: 36px;
  font-weight: 600;
  line-height: 130%;
  padding-bottom: 20px;
}
.record__description-p {
  color: #FFFFFF;
  font-size: 20px;
  font-weight: 400;
  line-height: 130%;
}

.form-all {
  display: grid;
  gap: 10px;
}
.form-all__text {
  border-radius: 5px;
  padding: 19px 20px;
  color: rgba(40, 41, 68, 0.7);
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
}
.form-all__tel {
  border-radius: 5px;
  padding: 19px 20px;
  color: rgba(40, 41, 68, 0.7);
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
}
.form-all__email {
  border-radius: 5px;
  padding: 19px 20px;
  color: rgba(40, 41, 68, 0.7);
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 10px;
}

.form-button {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.form-button__button {
  border-radius: 5px;
  background-color: #141024;
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  padding: 19px 161px;
}

.footer-background {
  background-color: #141024;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-info {
  padding-top: 40px;
  padding-bottom: 40px;
}
.footer-info__title-h2 {
  color: #FFFFFF;
  font-family: Jost;
  font-size: 30px;
  font-weight: 700;
  line-height: 160%;
}
.footer-info__copyright {
  color: rgba(255, 255, 255, 0.7);
  font-size: 16px;
  font-weight: 400;
  line-height: 160%;
}

.footer-number {
  display: grid;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.footer-number__number {
  color: rgb(255, 255, 255);
  font-size: 30px;
  font-weight: 600;
  line-height: 160%;
}

.header-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}

.main-container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 10px;
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}