.introductions {
  padding-top: 84px;
  display: flex;
  align-items: center;
  gap: 28px;
}
.block-title {
  &__title {
    width: 489px;
    color: $color-white;
    font-size: 70px;
    // font-size: calc(44px + 28 * (100vw / 1000));
    font-weight: 600;
    line-height: 160%;
  }
  &__description {
    padding-top: 20px;
    color: $color-white;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 160%;
  }
  &__button {
    padding-top: 30px;
  }
  .button {
    border-radius: 5px;
    background-color: $color-red;
    color: $color-white;
    font-size: 1, 125rem;
    font-weight: 400;
    line-height: 160%;
    padding: 25px 54px;
  }
}
.img-girl {
  max-width: 100%;
  &__img {
    width: 100%;
    height: auto;
  }
}
