@media screen and (max-width: 1340px) {
  .main-container {
    .main {
      .formation {
        .quantity {
          padding-top: 60px;
          display: grid;
          grid-template-columns: 1fr;
          justify-items: center;
          text-align: center;
        }
      }
    }
  }
}
@media screen and (max-width: 900px) {
  .header-container {
    .header {
      padding-top: 18px;
      display: flex;
      justify-content: space-between;
      .list {
        display: none;
        &__ul {
          display: none;
        }
        &__li {
        }
        &__a {
        }
      }
      .list {
        &__tel {
          display: block;
          display: flex;
          cursor: pointer;
        }
      }
      .number {
        display: flex;
        gap: 10px;
        &__link {
          display: none;
        }
        &__list {
          display: block;
          cursor: pointer;
        }
      }
    }
  }
  .main-container {
    padding: 0 10px;
    // introductions
    .introductions {
      padding-top: 47px;
      display: grid;
      justify-content: center;
      .block-title {
        max-width: 498px;
        margin: 0 auto;
        &__title {
          > h1 {
            font-size: calc(44px + 28 * (100vw / 1000));
            text-align: center;
          }
        }
        &__description {
          > p {
            text-align: center;
          }
          padding-top: 10px;
        }
        &__button {
          display: grid;
          justify-content: center;
        }
      }
      .button {
        display: grid;
        justify-content: center;
      }
      .img-girl {
        &__img {
        }
      }
    }
  }
}
