.packages {
  padding: 120px 0 120px 0;
}
.package-selection {
  padding-bottom: 60px;
  &__h2 {
    color: rgb(20, 16, 36);
    font-size: 50px;
    font-weight: 600;
    line-height: 160%;
  }
}
.packages-blocks {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
  align-items: center;
  text-align: center;
}
.package-blockone {
  background-color: $color-dark;
  border-radius: 20px;

  &__title {
  }
  &__title-h2 {
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-weight: 600;
    line-height: 160%;
    padding-top: 40px;
    padding-bottom: 50px;
  }
  &__price {
  }
  &__price-h2 {
    color: rgb(255, 255, 255);
    font-size: 50px;
    font-weight: 600;
    line-height: 160%;
    padding-bottom: 20px;
  }
  &__description {
  }
  &__description-p {
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 400;
    line-height: 160%;
    padding-bottom: 52px;
  }
}
.block-title {
  &__button-one {
    padding-bottom: 40px;
  }
  &__button {
    padding-bottom: 40px;
  }
}
.button-one {
  background-color: $color-red;
  color: $color-white;
  font-size: 18px;
  font-weight: 400;
  line-height: 160%;
  padding: 25px 54px;
}
.package-block {
  border: 1px solid rgba(20, 16, 36, 0.2);
  border-radius: 20px;
  &__title {
  }
  &__title-h2 {
    padding-top: 40px;
    color: rgb(20, 16, 36);
    font-size: 30px;
    font-weight: 600;
    line-height: 160%;
  }
  &__price {
  }
  &__price-h2 {
    padding-top: 63px;
    color: rgb(20, 16, 36);
    font-size: 50px;
    font-weight: 600;
    line-height: 160%;
  }
  &__description {
  }
  &__description-p {
    padding-top: 20px;
    color: rgb(20, 16, 36);
    font-size: 18px;
    font-weight: 400;
    line-height: 160%;
  }
}
.button {
  background-color: $color-red;
  color: $color-white;
  font-size: 18px;
  font-weight: 400;
  line-height: 160%;
  padding: 25px 54px;
}
